<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EuglohApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ValidationNews"
            android:exported="false" />
        <activity
            android:name=".ValidationEvents"
            android:exported="false" />
        <activity
            android:name=".PropositionNews"
            android:exported="false" />
        <activity
            android:name=".PropositionEvenements"
            android:exported="false" />
        <activity
            android:name=".PageNews"
            android:exported="false" />
        <activity
            android:name=".PageEvenements"
            android:exported="false" />
        <activity
            android:name=".Accueil"
            android:exported="false"
            android:label="Menu" />
        <activity
            android:name=".ConnexionCAS"
            android:exported="false"
            android:label="ConnexionCAS" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>